/*------- Payment page  -----------*/

.payment-button {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  margin-top: 10px;
  display: block;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  &:hover {
      background-color: #f7f7f7;
  }
}